body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.box {
    position: relative;
    top: 30%;
    left: 25%;
    width: 400px;
    height: 400px;
    padding: 40px;
    background: rgb(0, 255, 85);
    margin: 15%;
    border:chartreuse;
    border-radius: 10px;
}

form { 
    margin: auto;
    position: absolute;
}

div{
    display: block;
    font-family:'Times New Roman', Times, serif!important;
}

p {
    text-align: center;
    font-size:40px;
}

.emailInput, .phoneInput {
    vertical-align: middle;
    margin: 10px;
    padding: 5px;
}

#emailInput, #phoneInput {
    height: 30px;
    width: 250px;
}

.date {
    margin: 10px;
    padding: 5px;
}

#dateInput {
    height: 30px;
}

button {
    position: relative;
    border: none;
    transition: .4s ease-in;
    z-index: 1;
    height: 50px;
    width: 150px;
    left: 15px;
}



